/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 3px 3px 1px black;
  
}

input[type=text]:hover {
 border-color: blue;
}

input[type=name]:hover {
 border-style: solid;
 border-color: blue;
}

input[type=email]:hover {
 border-style: solid;
 border-color: blue;
}

input[type=num]:hover {
 border-style: solid;
 border-color: blue;
}

.nav-link{
border: 2px solid transparent;
}

.nav-link:hover {
border-style: solid;
border-color: blue;
}
